#sidebar {
    position: relative;
    top:0;
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    z-index: 999;
}

.sub_tab ul{
	margin: 0;
	list-style: none;
	text-align: center;
}
.sub_tab ul li{
	display: inline-block;
	padding: 20px 15px;
	
}

.sub_tab ul li span{
	padding: 0 10px;
	text-decoration: none;
	color: #222;
	cursor: pointer;
}

#banner{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;  
    margin: 0 auto;
}


#main{
    position: relative;
    width: 1200px;        
    background-color: #fff;
    margin: 0 auto;
}

#loc_name h2{
    padding: 85px 0 30px;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

#loc_name h2::after{
    display: block;
    content: '';
    width:25px;
    height: 3px;
    margin: 35px auto 0 auto;
    background-color:#333;
}

#loc_img{
    position: relative;
    padding-left: 400px;
    opacity: 0.7;
}

#theater{
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 35px;
}

#loc_title{
    margin: 30px;
    position: relative;
    top:10px;
    left:50px;
    color: #fff;
    background: #5f5f5f;
    width:178px;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

#loc_title:before{
    border-top: 17px solid #fff;
    border-right: 12px solid transparent;
    width: 0;
    height: 0;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}

.loc_tab ul{
    margin: 0;
	text-align: center;
}

.loc_tab ul li{
    display: inline-block;
	padding: 20px;
    padding-left: 10px;
}

.loc_tab ul li:before{
    content: "|";
    padding-right: 15px;
    color: #5F5F5F;
}

.loc_tab ul li:nth-child(1):before{
    content: "";
}

.loc_tab ul li span{
    padding: 0 5px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}


#the{
    margin: 60px 40px 0;
    padding-bottom: 150px;
}

.theater_list{
    border-collapse: collapse;
    font-size: 13px;
}

.theater_list > thead > tr:first-of-type{
    background: #eee;
    height:50px;
    font-size: 16px;
    font-weight: bold    
}

.theater_list td:first-of-type{
    width:300px;      
}

td{
    height: 30px;
    text-align: center;
}

#the_info{
    margin: 60px;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 80px;
}

.info_name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.info_list{
    margin: 10px 0;
    text-align: right;
    position:relative;
    right: 230px;
    font-size: 14px;
    text-decoration: underline;
    color:#333;
    cursor: pointer;
}

#info_table{
    border-collapse: collapse;
}

#info_table td:first-of-type{
    background: #222;
    color: #eee;
    width:170px;
    height: 40px;
    font-size: 16px;   
    
}

#info_table td:nth-child(2){
    background-color:#fff;
    font-size: 14px;
}

#info_table a:hover{
    text-decoration: underline;
}

#map{
    width: 400px;
    height: 400px;
    margin: 5px;
    
}






















